<div class="container">
    <h1>Business Contact</h1>
    <!--<a href="/business-updates" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i> Update a business contact</a>
    <div class="row">
        <div class="col"-->
    
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">Business Name</th>
                        <th scope="col" class="text-center">Contact Number</th>
                        <th scope="col" class="text-center">Email Contact</th>
                    </tr>
                </thead>
                <tbody id="businessList">
                    <% for(let count = 0; count < business.length; count++) { %>
                        <tr>
                            <th scope="row" class="text-center"><%= count + 1 %></th>
                            <td><%= business[count].contactName %></td>
                            <td><%= business[count].contactNumber %></td>
                            <td><%= business[count].emailAddress %></td>
                            
                            <td class="text-center col-1">
                                <a href="/business-edits/<%= business[count]._id %>"
                                    class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i>Update</a>
                            </td>
                            
                            <td class="text-center col-1">
                                <a href="/business-delete/<%= business[count]._id %>"
                                    class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>