<!-- Iris Guillermo |300700757 | October 20, 2022 -->
<!--this will let user interact with the page-->
<div class="container">

    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <input type="hidden" name="id" value="<%= business._id %>" >
                <div class="form-group">
                    <label for="nameTextField">Business Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter business name"
                    name="contactName" 
                    value="<%= business.contactName %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="contactTextField">Contact Number</label>
                    <input type="text" class="form-control"
                    id="contactTextField"
                    placeholder="Enter contact number"
                    name="contactNumber" 
                    value="<%= business.contactNumber %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="emailTextField">Business Email</label>
                    <input type="email" class="form-control"
                    id="emailTextField"
                    placeholder="Enter business email"
                    name="emailAddress" 
                    value="<%= business.emailAddress %>"
                    required>
                </div>

                <button class="btn btn-primary" type="edits">
                    <i class="fas fa-marker"></i>Update</button>

                    <a href="/business-list" class="btn btn-warning">
                        <i class="fa-solid fa-ban"></i>Cancel</a>  

                        <button class="btn btn-primary" type="delete">
                        <i class="fa-solid fa-trash-alt"></i>Delete</button>

            </form>
        </div>

    </div>
</div>